// You can add CSS rules here that will be inlucded in Hydejack's CSS file
// .icon-menu:before {
//     display : none;
// }
// .nav-btn {
//     display : none;
// }

//darken the menu drawer icon
//.icon-menu:before {
//    color: rgb(150,150,150);
//}

//justify text
.text-justify {
  text-align: justify;
}

//sidebar logo size
.sidebar-about .avatar {
    width: 10rem;
    height: 10rem;
//     border-radius: 100%;
//     overflow: hidden;
}

// main text font size
p {
    font-size: 1.07rem;
}

//lead text font size
p.lead {
    font-size: 1.25rem;
}

//homepage header font size
.homeheader {
    font-size: 2rem;
    color: rgb(51,112,118);
}

button.mybutton {
    display: inline-block; 
    border-radius: 5px; 
    background-color: #FFFFFF; 
    border: 2px solid; 
    border-color:#337076; 
    color: #337076; 
    font-weight: bold;
    text-align: center; 
    padding: 7px 10px; 
    width: 80px; 
    height:25px; 
    transition: all 0.5s; 
    cursor: pointer; 
    margin: 1px; 
    line-height: 7px;
}


////Titles
//.publications {
//    font-size: 2.2rem;
//    color: rgb(51,112,118);
//}
//#publications {
//    font-size: 2.2rem;
//    color: rgb(51,112,118);
//}
//#talks {
//    font-size: 2.2rem;
//    color: rgb(51,112,118);
//}
//#thesis {
//    font-size: 2.2rem;
//    color: rgb(51,112,118);
//}
//#teaching {
//    font-size: 2.2rem;
//    color: rgb(51,112,118);
//}
#about-me {
    font-size: 2.2rem;
    color: rgb(51,112,118);
}
#contact {
    font-size: 2.2rem;
    color: rgb(51,112,118);
}

// sidebar menu font size
.sidebar-nav-item {
    font-size: 1rem;
}

// reduce top margin and weight of headings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0; 
    font-weight: 600;
}

// change color of h1 to blue
h1 {
    font-size: 2.2rem;
    color: rgb(51,112,118);
}

h3 {
    font-size: 1.5rem;
}

span.conf {
    color: rgb(194,139,76);
}

span.authors {
    font-size: 1rem;
    font-style: italic;
    color: rgb(112,112,112);
}

span.talkLocation {
    font-size: 1rem;
    color: rgb(112,112,112);
}

span.talkEvent {
    font-size: 1rem;
    font-style: italic;
    color: rgb(112,112,112);
}

span.talkAuthor {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(112,112,112);
}

// change color of h1 and homepage headers to blue
//h1, .h1, .homeheader {
//    color: rgb(1,92,171);
//}

//turn body text black
//body {
//    color: black;
//}

//turn footer text black
//main>footer.content {
//    color: black;
//}

//fix black title on v9 theme
//h2.h1 {
//    color: white;
//}

//make hyperlinks blue for v9
.content a:not(.btn) {
    //color: rgb(1,92,171);
}

//reduce weight of hyperlink underline
// hy-push-state a {
//     border-bottom: 0.0625rem solid;
// }

//give menu items regular weight for v9
//html {
//    --font-weight-heading: 600;
//}

//gumshoe styling
//#my-awesome-nav li.active a {
//    border-bottom-color: white;
//    text-decoration-color: white;
//}

#_navbar { display: none }
